<div
  class="bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden m-3 w-auto lg:w-80"
>
  <img [src]="character.image" [alt]="character.name" class="w-full h-auto" />
  <div class="p-4">
    <h2 class="text-xl font-bold text-gray-800">{{ character.name }}</h2>
    <p class="text-gray-600">
      <strong>Species:</strong> {{ character.species }}
    </p>
    <p class="text-gray-600"><strong>Status:</strong> {{ character.status }}</p>
    <p class="text-gray-600"><strong>Gender:</strong> {{ character.gender }}</p>
    <p class="text-gray-600">
      <strong>Location:</strong> {{ character.location.name }}
    </p>
    <p class="text-gray-600">
      <strong>Origin:</strong> {{ character.origin.name }}
    </p>
    <p class="text-gray-600">
      <strong>Episodes:</strong> {{ character.episode.length }}
    </p>
  </div>
</div>
