<div class="flex justify-center items-center mt-6">
  <button
    class="px-4 py-2 mr-2 bg-gray-300 text-gray-700 rounded disabled:opacity-50"
    (click)="goToPreviousPage()"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <input
    [(ngModel)]="currentPageInput"
    (change)="onPageInputChange()"
    class="w-12 text-center ml-4 mr-2 border rounded"
    [min]="1"
    [max]="totalPages"
    [value]="currentPage"
  />
  <span class="text-gray-700 mr-4"> of {{ totalPages }} </span>
  <button
    class="px-4 py-2 ml-2 bg-gray-300 text-gray-700 rounded disabled:opacity-50"
    (click)="goToNextPage()"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
