<nav class="bg-black shadow-md fixed top-0 w-full z-10">
  <ul class="flex p-4 justify-center gap-8 text-2xl">
    <li>
      <a
        routerLink="/characters"
        routerLinkActive="text-yellow-400"
        class="text-white hover:text-yellow-400 transition duration-200"
        >Character</a
      >
    </li>
    <li>
      <a
        routerLink="/locations"
        routerLinkActive="text-yellow-400"
        class="text-white hover:text-yellow-400 transition duration-200"
        >Location</a
      >
    </li>
    <li>
      <a
        routerLink="/episodes"
        routerLinkActive="text-yellow-400"
        class="text-white hover:text-yellow-400 transition duration-200"
        >Episode</a
      >
    </li>
  </ul>
</nav>
