<ng-container *ngIf="loading; else showContent">
  <div class="flex flex-col justify-center items-center">
    <img class="max-w-96" src="/assets/loading.png" />
    <span class="text-2xl">Loading</span>
  </div>
</ng-container>

<ng-template #showContent>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    <ng-container *ngFor="let location of paginatedLocations">
      <app-location-list-item
        class="flex justify-center"
        [location]="location"
        (click)="navigate(location.id)"
      ></app-location-list-item>
    </ng-container>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</ng-template>
